# folders
node_modules/
storage/cache/**/*
storage/logs/**/*
storage/media/**/*
storage/sessions/**/*
tests/e2e/screenshots/**/*
tests/e2e/videos/**/*
vendor/

# files
.env

# wildcards
*.cache
*.config
*.log
