{% set title = 'Not Found' %}
{% set desc = 'Welcome to the PHP-Framework' %}

{% extends 'layouts/default.twig' %}

{% block title %}
    Not Found
{% endblock %}

{% block content %}
    <div class="grid__col-12">
        <p>404 page not found</p>
    </div>
{% endblock %}
