@use "../utilities/variables";
@use "../utilities/functions";

html {
    font-size: 16px;
}

body {
    background-color: functions.pick(lightest);
    font-family: variables.$font-system;
    font-size: 1rem;
    margin: 0;
}
