@use "sass:math";
@use "../utilities/variables";
@use "../utilities/functions";
@use "../utilities/mixins";

// set up column widths based on count and breakpoint
[class*="grid__col-"] {
    @include mixins.box;

    width: 100%;
    padding-left: variables.$grid-gutter;
    padding-right: variables.$grid-gutter;
}

.grid {
    @include mixins.box;

    padding-left: variables.$grid-gutter;
    padding-right: variables.$grid-gutter;
    width: 100%;
    max-width: map-get(variables.$breakpoints, lg);
    margin-left: auto;
    margin-right: auto;

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -(variables.$grid-gutter);
        margin-right: -(variables.$grid-gutter);

        &--center {
            justify-content: center;
        }
    }

    &--center {
        align-self: center;
    }

    &__col-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__col-no-gutter {
        padding-left: 0;
        padding-right: 0;
    }
}

@for $num from 1 through variables.$grid-count {
    .grid__col-#{$num} {
        max-width: 100% * math.div($num, variables.$grid-count);
        flex: 0 0 100% * math.div($num, variables.$grid-count);
    }
}

@each $key, $val in variables.$breakpoints {
    @include mixins.breakpoint($key) {
        @for $num from 1 through variables.$grid-count {
            .grid__col-#{$key}-#{$num} {
                max-width: 100% * math.div($num, variables.$grid-count);
                flex: 0 0 100% * math.div($num, variables.$grid-count);
            }
        }

        .grid__col-#{$key}-narrow {
            padding-left: variables.$grid-gutter * 4;
            padding-right: variables.$grid-gutter * 4;
        }
    }
}
