<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }} &#124; PHP-Framework</title>
        <meta name="description" content="{{ desc }}">
        <meta name="author" content="Page author">
        <link rel="stylesheet" href="/assets/css/theme.css">
    </head>

    <body class="body">
        <header class="banner">
            <h1 class="banner__title">
                {% block title %}
                {% endblock %}
            </h1>
        </header>

        <main class="main">
            <section class="section">
                <div class="grid">
                    <div class="grid__row">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
